.navbar {
  height: 70px;
  padding-top: 20px;
  font-family: 'Raleway', sans-serif;
}

.navbar .container {
  width: 70%;
}

.links a {
  font-size: 20px;
  color: white;
}

.links a:hover {
  text-decoration: none;
}

.page-title {
  width: 70%;
  margin: 10px auto;
  padding: 10px;

  border-radius: 5px;

  text-align: center;
  font-family: 'Raleway', sans-serif;

  background-color: #171f26;
}

.signIn {
    width: 100%;
}

.text {
  color: #D0D0D0;
}

.login-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.login-container {
  display:flex;
  height: 400px;
  width: 50%;
  flex-direction:column;
  background-color: rgba(10,10,10,0.6);
  justify-content:center;
  border-style: solid;
  border-color: lightblue;
  border-width: 15px;
}

.login-title {
  margin-top: 30px;
  margin-bottom: 100px;
  text-align: center;
  color: white;
  font-family: 'Raleway', sans-serif;
}

.login-title > h1{
  font-family: 'Pacifico', cursive;
}
.login-button {
  text-align: center;
  margin-bottom: 30px;
}


#background {
    background: url(../scrapbook.jpg) no-repeat center center fixed;
    -o-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

}

.gallery-container {
  width: 70%;
  min-height: 300px;

  background: white;
  position: relative;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  border-radius: 3px;

  text-align: center;
  padding-bottom: 20px;
}

.gallery-container img {
  max-width: 90%;
  margin: 30px auto;
  border-radius: 3px;
}

.gallery-container .statusMsg {
  min-height: 30px;
}

.gallery-container .arc-date {
  margin: 5px;
  color: #4e5d6c;
}

.section {
  width: 80%;
  margin: 25px auto 0 auto;
  height: 150px;

  border: 3px solid #add8e6;
  border-radius: 3px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: auto;
  flex-wrap: wrap;
}

.inputForm {
  width: 70%;
  padding: 10px;
  margin: 10px auto;
  background-color: white;
  border: 1px solid #add8e6;
  border-radius: 3px;
}

form > p {
  flex-grow: 1;
  min-width: 300px;
  margin: 20px;
}

.inputs > label {
  flex-grow: 1;
  color: black;
  font-size: 17px;
  flex-basis: 100px;
  width: 100px;
  border-radius: 3px;
}

.inputs > input {
  flex-grow: 2;
  flex-basis: 300px;
  width: 300px;
  margin: auto;
}

button {
  min-width: 150px;

  margin: 0 10px 5px 0;
  padding: 5px;

  background-color: #4e5d6c;
  color: #ffffff;

  border: none;
  border-radius: 3px;

  font-family: 'Raleway', sans-serif;
}

.facebook-login {
  background-color: transparent;
  border: 3px solid lightblue;
  width: 200px;
}

.facebook-login:hover {
  background-color: rgba(10,10,10,0.5);
}

.brand a {
  font-family: 'Pacifico', cursive;
  margin-top: -5px;
  margin-right: 20px;
  color: white;
  font-size: 33px;
}

.edit-panel {
  margin-top: 10px;
}
